# Eclipse
.classpath
.project
.settings/
.metadata/
.recommenders/
bin/

# Intellij
.idea/
*.iml
*.iws
target/
node_modules/

# Mac
.DS_Store
.bash_profile

# Log files
*.log

# Maven
target/

# Project files
**/file.json