<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <property name="linePattern" value="%-5p [%d{dd MMM yyyy HH:mm:ss}] %c{0} - %m%n" />
  <property name="commonLogFilePrefix" value="logs/json_viewer" />
  <property name="errorsLogFilePrefix" value="${commonLogFilePrefix}-errors" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${linePattern}</pattern>
    </encoder>
  </appender>

  <appender name="common" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${commonLogFilePrefix}.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${commonLogFilePrefix}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>

      <maxHistory>1</maxHistory>
      <maxFileSize>50MB</maxFileSize>

    </rollingPolicy>

    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <charset>UTF-8</charset>
      <Pattern>${linePattern}</Pattern>
    </encoder>

    <filter class="ru.json_viewer.config.LevelLessLogbackFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <appender name="errors" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${errorsLogFilePrefix}.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${errorsLogFilePrefix}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>

      <maxHistory>1</maxHistory>
      <maxFileSize>50MB</maxFileSize>

    </rollingPolicy>

    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <charset>UTF-8</charset>
      <Pattern>${linePattern}</Pattern>
    </encoder>

    <filter class="ru.json_viewer.config.LevelGreaterLogbackFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="common" />
    <appender-ref ref="errors" />
  </root>
</configuration>